.navbar {
  background-color: black;

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  &__logo {
    color: #a2ed77;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
  }

  &__toggle {
    display: none;
    width: 50px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: #fff;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px;
  }

  &__menu__link {
    color: rgb(255, 251, 251) 60.2s ease;
    text-transform: uppercase;
    text-decoration: none;

    &.active,
    &:hover {
      color: #a2ed77;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    &__toggle {
      display: block;
    }

    &__menu {
      display: none;

      &--show {
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 100%;
      }
    }
  }
}
